/* You can add global styles to this file, and also import other style files */

body {
  margin: 0
}


.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  height: var(--vh);
  //height: calc(100vh - calc(100vh - 100%));
  margin-left: 5px;
  margin-right: 5px;
}

.clubs {
  color: black;
}
.spades {
  color: black;
}
.hearts {
  color: red;
}
.diams {
  color: red;
}
.suit {
  min-width: 15px
}

.trump-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  #trump-suits, #trump-cards {
    display: flex;
    flex-direction: column;
    height: 100%;

  }

  #trump-suits {
    align-items: center;
  }
}



.main-container {
  width: 100%;

  h2 {
    text-align: center;
  }

  .points-summary {
    width: 100%;
    display: flex;
    align-items: center;

  }

  .points-table {
    display: flex;
    justify-content: center;

    div {
      font-size: 26px;
    }

    .points-cards {
      text-align: right;
      margin-right: 15px;

    }
  }

  .fail-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .fail-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .fail-cards {
      font-size: 26px;
      width: 100%;
      max-width: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 5px;

      span {
        text-align: center;
      }
    }
  }

}

